.button{
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: all ease-out 0.2s;

}

.button:hover{
    background-color: #007B23;
}

.button:disabled{
    cursor: default;
    background-color: #61AEFF;

}

