.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.gameContent{
    display: flex;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width:453px) {
    .gameContent {
        flex-direction: column;
    }
}